# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# In this example, those users owns any file in an checking directory
# anywhere in your repository.

*   @1sakov @Davran331122 @kabramovp2p @gslevinkov @NikolaiEmelianov

# This will exclude app/gradle.properties from code owner requirements
!app/gradle.properties