# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# In this example, those users owns any file in an checking directory
# anywhere in your repository.

*   @gslevinkov @eduardmaximovich
